.form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.input {
    height: 30px;
    width: 20%;
    padding: 5px;
    outline: none;
    font-size: 20px;
    border: 1px solid lightpink;
    border-radius: 5px;
}

.button {
    padding: 5px;
    background-color: lightpink;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:active, .button:hover {
    background-color: #ff69b4;
    transform: translateY(3px);
}